
# use bzlmod
common --enable_bzlmod

# maybe install pre-commit hook and update workspace status
common --workspace_status_command=./githooks/install-pre-commit-hook.sh

# builds with C++23
build --action_env=BAZEL_CXXOPTS="-std=c++23"
build --cxxopt='-std=c++23'

# allow C++23 stack traces
build --linkopt='-lstdc++exp'

# be safe...
build --cxxopt='-Wall'
build --cxxopt='-Wextra'
build --cxxopt='-Werror'
build --cxxopt='-Wpedantic'
build --cxxopt='-pedantic-errors'

# TODO(davisb) use hermetic toolchain

# gcc toolchain
build --repo_env=CC=/usr/bin/gcc-14
build --repo_env=CXX=/usr/bin/g++-14
build --action_env=CC=/usr/bin/gcc-14
build --action_env=CXX=/usr/bin/g++-14
# need to be able to diagnose severe errors in concepts
build --cxxopt='-fconcepts-diagnostics-depth=10'

# clang toolchain
# build --repo_env=CC=/usr/bin/clang
# build --repo_env=CXX=/usr/bin/clang++
# build --action_env=CC=/usr/bin/clang
# build --action_env=CXX=/usr/bin/clang++
# # TODO(davisb) compiler flag is specific to clang and prevents an
# # error that seems to be caused by the abseil library insisting on
# # building its files with clang instead of clang++
# build --cxxopt='-Wno-gcc-compat'

build --features=external_include_paths

# use nanosecond precision with boost
build --cxxopt='-DBOOST_DATE_TIME_POSIX_TIME_STD_CONFIG'

# debug builds
build:dbg --strip=never
build:dbg --copt='-Og'
build:dbg --copt='-fno-inline'
build:dbg --copt='-g3'
build:dbg --copt='-fstack-protector-all'
build:dbg --copt='-fno-omit-frame-pointer'

# optimized builds
build:opt --copt='-O3'
build:opt --copt='-g0'
build:opt --copt='-march=native'
build:opt --copt='-mtune=native'
build:opt --copt='-DNDEBUG'
# TODO(bd) should optimized builds omit the frame pointer?
build:opt --copt='-fno-omit-frame-pointer'

# TODO(bd) run sanitizer builds across multiple optimization levels?

# address sanitizer builds
build:asan --strip=never
build:asan --copt='-fsanitize=address'
build:asan --copt='-DADDRESS_SANITIZER'
build:asan --copt='-O1'
build:asan --copt='-g'
build:asan --copt='-fno-omit-frame-pointer'
build:asan --linkopt='-fsanitize=address'
build:asan --linkopt='-static-libasan'

# thread sanitizer builds
build:tsan --strip=never
build:tsan --copt='-fsanitize=thread'
build:tsan --copt='-O2'
build:tsan --copt='-g'
build:asan --copt='-fno-omit-frame-pointer'
build:tsan --linkopt='-fsanitize=thread'
build:tsan --linkopt='-static-libtsan'

# TODO flags to use for segmented stacks
# -fsplit-stack
# -DBOOST_USE_SEGMENTED_STACKS
# also need to be using ucontext_t for boost.context

# TODO use this??
#common --enable_platform_specific_config
# Prevent Bazel from detecting the system's C++ toolchain.
#build:linux --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
#build:linux --incompatible_strict_action_env=true
# Enable the CC toolchain resolution based on platforms.
#build:linux --incompatible_enable_cc_toolchain_resolution
