
# use bzlmod
common --enable_bzlmod

# maybe install pre-commit hook and update workspace status
common --workspace_status_command=./githooks/install-pre-commit-hook.sh

# builds with C++26
build --action_env=BAZEL_CXXOPTS="-std=c++26"
build --cxxopt='-std=c++26'

# support c++26 static reflection
build --cxxopt='-freflection'

# allow C++23 stack traces
build --linkopt='-lstdc++exp'

# prevent bazel from crashing the host by running it out of memory
# when building grpc
build --local_resources=memory=HOST_RAM*.5
build --local_resources=cpu=HOST_CPUS-1

# be safe...
build --cxxopt='-Wall'
build --cxxopt='-Wextra'
build --cxxopt='-Werror'
# TODO(bd) gcc is angrily yeeting out pedantic errors over some abseil
# code that is using non-standard SIMD type __int128
#build --cxxopt='-Wpedantic'
#build --cxxopt='-pedantic-errors'

# TODO(bd) the following warning suppressions are required to get
# protobuf to build correctly
build --cxxopt='-Wno-deprecated-declarations'
build --cxxopt='-Wno-unused-parameter'
build --cxxopt='-Wno-missing-field-initializers'
build --cxxopt='-Wno-maybe-musttail-local-addr'
# TODO(bd) the following warning suppressions are required to get
# grpc to build correctly
build --cxxopt='-Wno-redundant-move'
build --cxxopt='-Wno-class-memaccess'
build --cxxopt='-Wno-unused-function'
# TODO(bd) this warning suppression is likely related to a gcc bug
build --cxxopt='-Wno-subobject-linkage'

# Enable the modern proto toolchain resolution (Default in Bazel 9+)
common --incompatible_enable_proto_toolchain_resolution

# Instruct the protobuf module to use prebuilt binaries
build --@protobuf//bazel/toolchains:prefer_prebuilt_protoc

# TODO(bd) use hermetic toolchain

# gcc toolchain
build --repo_env=CC=gcc-16
build --repo_env=CXX=g++-16
build --action_env=CC=gcc-16
build --action_env=CXX=g++-16
# need to be able to diagnose severe errors in concepts
build --cxxopt='-fconcepts-diagnostics-depth=10'
build --cxxopt='-fdiagnostics-all-candidates'

# clang toolchain
# build --repo_env=CC=clang
# build --repo_env=CXX=clang++
# build --action_env=CC=clang
# build --action_env=CXX=clang++
# # TODO(bd) compiler flag is specific to clang and prevents an
# # error that seems to be caused by the abseil library insisting on
# # building its files with clang instead of clang++
# build --cxxopt='-Wno-gcc-compat'

# TODO(bd) should have documented the purpose for this
build --features=external_include_paths

# work around problems in some BCR boost modules that are generating
# warnings about #pragma once in header files
build --features=-parse_headers

# use nanosecond precision with boost
build --cxxopt='-DBOOST_DATE_TIME_POSIX_TIME_STD_CONFIG'

# debug builds
build:dbg --strip=never
build:dbg --copt='-Og'
build:dbg --copt='-fno-inline'
build:dbg --copt='-g3'
build:dbg --copt='-fstack-protector-all'
build:dbg --copt='-fno-omit-frame-pointer'

# optimized builds
build:opt --copt='-O3'
build:opt --copt='-g0'
build:opt --copt='-march=native'
build:opt --copt='-mtune=native'
build:opt --copt='-DNDEBUG'
# TODO(bd) should optimized builds omit the frame pointer?
build:opt --copt='-fno-omit-frame-pointer'

# TODO(bd) run sanitizer builds across multiple optimization levels?

# address sanitizer builds
build:asan --strip=never
build:asan --copt='-fsanitize=address'
build:asan --copt='-DADDRESS_SANITIZER'
build:asan --copt='-O1'
build:asan --copt='-g'
build:asan --copt='-fno-omit-frame-pointer'
build:asan --linkopt='-fsanitize=address'
build:asan --linkopt='-static-libasan'

# thread sanitizer builds
build:tsan --strip=never
build:tsan --copt='-fsanitize=thread'
build:tsan --copt='-O2'
build:tsan --copt='-g'
build:asan --copt='-fno-omit-frame-pointer'
build:tsan --linkopt='-fsanitize=thread'
build:tsan --linkopt='-static-libtsan'

# code coverage tests
coverage --combined_report=lcov
coverage --instrumentation_filter="//[:]"
coverage --instrument_test_targets
coverage --nocache_test_results

# TODO flags to use for segmented stacks
# -fsplit-stack
# -DBOOST_USE_SEGMENTED_STACKS
# also need to be using ucontext_t for boost.context
